<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique en ligne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Boutique en ligne</h1>
    <div class="produits">
        {% for produit in produits %}
            <div class="produit">
            <img src="{{ produit.image_url or '/static/images/default.jpg' }}" alt="Image de {{ produit.nom }}" class="image-produit">
                <h2>{{ produit.nom }}</h2>
                <p>{{ produit.description }}</p>
                <p>Prix : {{ produit.prix }} €</p>
                <p>En stock : {{ produit.stock }}</p>
            <button type="submit">Ajouter au Panier</button>
            </div>
        {% endfor %}
    </div>
</body>
</html>
